.candidate-label{
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.addCandidate, .delCandidate{
    color: #603c2c;
    font-weight: bold;
    text-decoration: underline;
}

.addCandidate:hover, .delCandidate:hover{
    /* color: rgb(26, 44, 84); */
    color: #fbe48f;
    cursor: pointer;
}

.electionContent:hover{
    border: 5px solid black;
}

.election-input-group span, .election-input-group input:read-only{
    background-color: #fbe48f;
    font-weight: bold;
    border: 2px solid black;
}

.election-input-group input {
    border: 2px solid black;
}

.noEdit{
    text-align: center;
    color: rgb(200, 0, 0);
    font-weight: bold;
}

.btn-start, .btn-end{
    background-color: yellow;
    border: 2px solid #cd9542;
    width: 100%;
    margin-top: 0.5rem;
}
.btn-start:hover, .btn-end:hover{
    background-color: white;
}

.radio {
    height: auto !important;
    padding: 0px;
    border: 1px solid black;
    background-color: rgb(170, 166, 166);
}

.radio input {
    width: 50%;
    height: 100%;
    appearance: none;
    cursor: pointer;
    padding: 6px;
    color: black;
    font-size: 14px;
    margin-right: -4px !important;
    background-color: rgb(170, 166, 166) !important;
}
.radio .form-control {
    display: inline-block;
}
   
.radio input:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
}
.radio input:checked {
    background-color: #fbe48f !important;
}