.candidate-label{
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.addCandidate, .delCandidate{
    color: #603c2c;
    font-weight: bold;
    text-decoration: underline;
}

.addCandidate:hover, .delCandidate:hover{
    /* color: rgb(26, 44, 84); */
    color: #fbe48f;
    cursor: pointer;
}

.electionCard:hover{
    border: 5px solid black;
}

.election-input-group span, .election-input-group input:read-only{
    background-color: #fbe48f;
    font-weight: bold;
    border: 2px solid black;
}

.election-input-group input {
    border: 2px solid black;
}