<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
</head>

<body class="invisible">
    <!-- header -->
    <div id="header">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "header.html" ) %>
    </div>

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-10">
                <div class="title text-center m-3">
                    <h2 class="fs-3 fw-bold">
                        Profile
                    </h2>
                </div>
            </div>

            <div class="col-10 p-2">
                <form class="validation">
                    <ul class="list-group list-group-horizontal profileList">
                        <div class="input-group">
                            <li class="list-group-item profileTitle">Name:</li>
                            <input class="list-group-item profileContent" id="profileName" disabled required></input>
                            <div class="invalid-feedback">
                                This name field is required.
                            </div>
                            <div class="valid-feedback">
                                Success
                            </div>
                        </div>

                    </ul>

                    <ul class="list-group list-group-horizontal profileList">
                        <div class="input-group">
                            <li class="list-group-item profileTitle">Email:</li>
                            <input class="list-group-item profileContent" id="profileEmail" disabled required></input>
                            <div class="invalid-feedback">
                                This email field is required.
                            </div>
                            <div class="valid-feedback">
                                Success
                            </div>
                        </div>

                    </ul>

                    <ul class="list-group list-group-horizontal profileList">
                        <li class="list-group-item profileTitle">Metamask Account: </li>
                        <input class="list-group-item profileContent" id="profileAddress" disabled></input>
                    </ul>

                    <div class="row justify-content-center" id="editArea">
                        <div class="col-3">
                            <button class="btn btn-submit w-100 fs-5" onclick="App.editProfile(); return false"
                                id="editBtn">Edit</button>
                        </div>
                    </div>

                    <div class="row justify-content-center" id="submitArea">
                        <div class="col-3">
                            <button type="submit" class="btn btn-submit w-100 fs-5" id="submitBtn"
                                onclick="App.submitProfile(); return false" disabled>Submit</button>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-submit w-100 fs-5" id="cancelBtn"
                                onclick="App.cancelProfile(); return false">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- TxnModal -->
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "txnModal.html" ) %>


</body>

</html>