<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Election</title>
</head>

<body class="invisible">
    <!-- header -->
    <header id="header">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "adminHeader.html" ) %>
    </header>

    <main>
        <div class="container bodyContainer">
            <div class="row justify-content-center">
                <div class="col-12 mb-4">
                    <div class="title text-center m-3">
                        <h2 class="fs-3 fw-bold">
                            Stat/End the election. Click inside to view more election's information.
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="row justify-content-evenly">
                        <div class="col-lg-12 col-4 mb-4 me-lg-2 px-2">
                            <button class="btn btn-collapse initial" type="button" data-bs-toggle="collapse"
                                data-bs-target="#initialE" aria-expanded="false" aria-controls="initialE">
                                Status: Initial<b class="caret ps-3 left">&#9666;</b>
                            </button>
                        </div>

                        <div class="col-lg-12 col-4 mb-4 me-lg-2 px-2">
                            <button class="btn btn-collapse ongoing" type="button" data-bs-toggle="collapse"
                                data-bs-target="#ongoingE" aria-expanded="false" aria-controls="ongoingE">
                                Status: Ongoing<b class="caret ps-3 left">&#9666;</b>
                            </button>
                        </div>

                        <div class="col-lg-12 col-4 mb-4 me-lg-2 px-2">
                            <button class="btn btn-collapse end" type="button" data-bs-toggle="collapse"
                                data-bs-target="#endE" aria-expanded="false" aria-controls="endE">
                                Status: End<b class="caret ps-3 left">&#9666;</b>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-lg-8 col-12 collapseDiv">
                    <div class="row ongoingE collapse listBackground justify-content-center" id="ongoingE">
                        <div class="card card-body noList">
                            Do not have any Ongoing Elections at this moment.
                        </div>
                        <div class="list d-none">
                            Ongoing Election
                        </div>
                    </div>


                    <div class="row initialE collapse listBackground" id="initialE">
                        <div class="card card-body noList">
                            Do not have any Initial Elections at this moment.
                        </div>
                        <div class="list d-none">
                            Initial Election
                        </div>

                    </div>


                    <div class="row endE collapse listBackground" id="endE">
                        <div class="card card-body noList">
                            Do not have any End Elections at this moment.
                        </div>
                        <div class="list d-none">
                            End Election
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </main>

    <!-- footer -->
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "footer.html" ) %>
        <!-- voterModal -->
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "voterModal.html" ) %>
            <!-- TxnModal -->
            <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "txnModal.html" ) %>
</body>

</html>