<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vote History</title>
</head>

<body>
    <!-- header -->
    <header id="header">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "header.html" ) %>
    </header>

    <main>
        <div class="container d-none">
            <div class="row justify-content-around historyList">
                <div class="col-10 mb-4">
                    <div class="title text-center m-3">
                        <h2 class="fs-3 fw-bold">
                            Vote History
                        </h2>
                    </div>
                </div>
                <div class="card card-body noList">
                    Do not have any Vote History at this moment.
                </div>
            </div>
        </div>
    </main>

    <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "footer.html" ) %>


</body>

</html>