<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verify Vote</title>
</head>

<body>
    <!-- header -->
    <header id="header">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "header.html" ) %>
    </header>
    <main class="main">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-12 mb-0">
                    <div class="row">
                        <div class="col-1 backBtn" onclick="history.back()">
                            <span class="">&#x2baa;</span>
                        </div>
                        <div class="col-lg-10 col-9 text-center m-3">
                            <h2 class="fs-3 fw-bold ">
                                Vote History
                            </h2>
                            <h2 class="fs-3 fw-bold elecName ">

                            </h2>
                        </div>
                    </div>
                </div>


                <div class="col-10 p-3 mb-4 history">
                    <ul class="list-group list-group-horizontal historyList">
                        <li class="list-group-item title">Candidate Vote:</li>
                        <li class="list-group-item content historyCandidate"></li>
                    </ul>

                    <ul class="list-group list-group-horizontal historyList">
                        <li class="list-group-item title">Time: </li>
                        <li class="list-group-item content historyTime"></li>
                    </ul>

                    <ul class="list-group list-group-horizontal historyList">
                        <li class="list-group-item title">Transaction ID: </li>
                        <li class="list-group-item content historyTxn text-break"></li>
                    </ul>

                    <ul class="list-group list-group-horizontal historyList">
                        <li class="list-group-item title">Block Number (Block Hash): </li>
                        <li class="list-group-item content historyBlock text-break"></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "footer.html" ) %>

        <!-- TxnModal -->
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "txnModal.html" ) %>
            <!-- RequestModal -->
            <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "requestModal.html" ) %>
</body>

</html>