.header{
    background-color: #441d66;
}

#menuItem ul li a, #register ul li a{
    color: white;
}

#menuItem ul li:hover *{
    background-color: #dac8b1;
    color: black;
}

.candidate:hover {
    border: 5px solid black;
}

.candidate {
    height: 100%;
}

.candidateTitle {
    width: 40%;
}

.candidateContent, .historyContent {
    width: 60%;
}

.registerForm, .electionForm {
    background-color: rgb(174, 112, 175);
    padding: 3.5rem 6rem;

}

/* .profile{
    background-color: rgb(138, 224, 229);  
} */

.btn-submit{
    color: white;
    background-color: #603c2c;
    border: 2px solid #cd9542;
}

.btn-submit:hover{
    background-color: #cd9542;
    border: 2px solid #603c2c;

}
.form-control:valid {
    border: 2px solid #198574;
}
.valid-feedback{
    font-size: medium;
    font-weight: bold;
    text-align: end;
}

.invalid-feedback{
    font-size: medium;
    font-weight: bold;
    text-align: end;
}

.electionTitle{
    font-size: large;
    font-weight: bolder;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(235, 235, 63);
}

.electionContent:hover{
    border: 5px solid black;
    cursor: pointer;
}

.noList{
    margin: 0rem 1rem;
}


.btn-collapse{
    text-align: left;
    font-weight: bolder;
}