.header{
    background-color: rgb(81, 89, 141);
}

#menuItem ul li a{
    color: white;
}

#menuItem ul li:hover *{
    background-color: rgb(138, 224, 229);
    color: black;
}

.candidate:hover {
    border: 5px solid black;
}

.candidate {
    height: 100%;
}

.candidateTitle {
    width: 40%;
}

.candidateContent, .historyContent {
    width: 60%;
}


.profile{
    background-color: rgb(138, 224, 229);  
}

.valid-feedback{
    font-size: medium;
    font-weight: bold;
    text-align: end;
}

.invalid-feedback{
    font-size: medium;
    font-weight: bold;
    text-align: end;
}