.hList{
    background-color: #cdc9e4;  
    border-radius: 2rem;
    border: 1px solid black;
}

.btn-verify{
    padding: 0.5rem;
    font-size: large;
    font-weight: bold;
    background-color: #6c6075;  
    color: white;
    border: 2px solid black;
}

.btn-verify:hover{
    text-decoration: underline;
    color: white;
}

.text-muted {
    padding-top: 0.5rem;
    font-weight: bold;
}
