.history{
    background-color: #cdc9e4;  
    border: 2px solid black;

}

.title {
    width: 30%;
}

.content {
    width: 70%;
}

.historyList{
    margin: 1.5rem;
}

.historyList li{
    background-color: #cdc9e4;  

    color: black;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
}