.candidateCard{
    height: 100%;
    border-radius: 3rem;
}

.candidateCard:hover, .active{
    box-shadow: 2px 2px 0 0.25rem black;
    cursor: pointer;
}

.noVote{
    text-align: center;
    color: rgb(200, 0, 0);
    font-weight: bold;
}

.back {
    position: absolute;
    top: 5rem;
}
