.noV, .noVote, .vote, .voted{
    /* background-color: black; */
    background-color: bisque;
    color: black;
    border: 1px solid black;
    border-radius: 0.7rem;
}

.noV:hover, .noV:focus, .vote:hover, .vote:focus{
    background-color: bisque;
    color: black;
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 50%)
}

.noVote .electionTitle{
    background-color: #a59fec;
}
