.header{
    background-color: rgb(81, 89, 141);
}

#menuItem ul li a{
    color: white;
}

#menuItem ul li:hover *{
    background-color: rgb(138, 224, 229);
    color: black;
}

.candidate:hover {
    border: 5px solid black;
}

.candidate {
    height: 100%;
}

.candidateTitle {
    width: 40%;
}

.candidateContent, .historyContent {
    width: 60%;
}

.history{
    background-color: rgb(138, 224, 229);  
}

.historyTitle {
    width: 30%;
}

.historyContent {
    width: 70%;
}

.historyList{
    margin: 2rem;
}

.historyList li{
    background-color: rgb(138, 224, 229);  
    color: black;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
}

.profile{
    background-color: rgb(138, 224, 229);  
}

