.candidate-label{
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.addCandidate, .delCandidate{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.addCandidate:hover, .delCandidate:hover{
    color: rgb(219, 62, 62);
    cursor: pointer;
}