
.history{
    /* background-color: rgb(174, 112, 175); */
}

.historyTitle {
    width: 30%;
    padding: 1rem;
}

.historyContent {
    width: 70%;
}

.historyList{
    margin: 2rem;
}

.historyList li{
    background-color: rgb(174, 112, 175); 
    color: black;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
}

.historyList input:disabled{
    background-color: rgb(174, 112, 175);
    color: black;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
}

.historyList input{
    border: 3px solid black;
    background-color: rgb(214, 134, 197);
    border-left-width: 2px !important;
    border-top-width: 2px !important;
}

#submitArea{
    display:  none;
}