<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Election</title>
</head>

<body class="invisible">
    <!-- header -->
    <div id="header">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "adminHeader.html" ) %>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 mb-5">
                <div
                    class="col-6 mx-auto p-3 electionForm text-center fw-bolder border-bottom border-3 border-dark fs-4">
                    Edit Election
                </div>
                <form class="form electionForm validation" onsubmit="App.submitForm(); return false;" novalidate
                    id="editForm">
                    <div class="input-group mb-3 election-input-group">
                        <span class="input-group-text col-3" id="">Election Name</span>
                        <input type="text" class="form-control" placeholder="Election Name" aria-label="Username"
                            aria-describedby="input" id="electionName" required>
                        <div class="invalid-feedback">
                            This election field is required.
                        </div>
                        <div class="valid-feedback">
                            Success
                        </div>
                    </div>

                    <div class="input-group mb-3 election-input-group">
                        <span class="input-group-text col-3" id="">Election Description</span>
                        <input type="text" class="form-control" placeholder="Election's description"
                            aria-label="description" aria-describedby="input" id="description" required>
                        <div class="invalid-feedback">
                            This election's description field is required.
                        </div>
                        <div class="valid-feedback">
                            Success
                        </div>
                    </div>

                    <div class="loadCandidate">

                    </div>
                    <div class="row">
                        <div class="col d-flex">
                            <div class="addCandidate ms-auto d-none">Add New Candidate</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex">
                            <div class="delCandidate ms-auto d-none">Delete Candidate</div>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-center mt-3">
                        <div class="col-4">
                            <button type="submit" class="btn btn-submit w-100 d-none" id="saveBtn">Save</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-submit w-100" id="editBtn" onclick="App.editForm(); return false;"
                                disabled>Edit</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-submit w-100 d-none" id="delBtn"
                                onclick="App.delForm();return false;">Delete Election</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-submit w-100 d-none" id="cancelBtn"
                                onclick="App.cancelForm();return false;">Cancel Edit</button>
                        </div>
                    </div>
                    <div class="noEdit fs-3 d-none">
                        Election started. Information are not allowed to edit.
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- TxnModal -->
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "txnModal.html" ) %>
</body>