.btn-submit{
    color: white;
    background-color: #603c2c;
    border: 2px solid #cd9542;
}

.btn-submit:hover{
    background-color: #cd9542;
    border: 2px solid #603c2c;
    color: black;
}

.registerForm span{
    background-color: #fbe48f;
    font-weight: bold;
    border: 2px solid black;
}

.registerForm input{
    border: 2px solid black;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
 
    padding: .375rem .75rem;
   
}

.form-control:valid {
    background-image: none !important;
}